@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/* Primary styles for the webpage.*/
body {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

    background-color: #222222;
    padding: 0;
}

/* Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you
We've known each other for so long
Your heart's been aching but you're too shy to say it
Inside we both know what's been going on
We know the game and we're gonna play it
And if you ask me how I'm feeling
Don't tell me you're too blind to see */

/* Nav bar*/

header {
    display: flex;
    justify-content: space-between;
    background-color: #191919;
}

li, a {
    font-family: 'Arvo', arial, helvetica, sans-serif;
    font-size: 20px;
}

.logo {
    cursor: pointer;
    width: 400px;
    height: 80px;
    transition: all 0.3s ease 0s;
}

.logo:hover {
    opacity: 0.8
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 10px 20px;
}

.nav-links li a {
    color: #d8d8d8;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #00b2d1;
}

.contact {
    margin-top: 20px;
    margin-right: 15px;
    width: 150px;
    padding: 9px 25px;

    background-color: rgba(0, 114, 255, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
    transition: all 0.3s ease 0s;
    font-family: 'Arvo', serif;
    font-size: 15px;
}

.contact:hover {
    background-color: rgba(0, 114, 255, 0.8);
}

/* About-text styles */

.header {
    color: #b3b2b2;
    font-size: 70px;
}


.about-us {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-family: 'Arvo', sans-serif;
    font-size: 30px;
    color: #dbdbdb;
}

.credits-about-page {
    color: #818181;
    font-family: 'Arvo', sans-serif;
    font-size: 20px;
    margin-top: 3%
}

.github-link-credits {
    color: #adadad;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.github-link-credits:hover {
    color: #c7c7c7;
}