@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #222222;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../bgimages/background.jpg)
}

/* NAV BAR */
header {
    display: flex;
    justify-content: space-between;
    background-color: #191919;
}

li, a {
    font-family: 'Arvo', arial, helvetica, sans-serif;
    font-size: 20px;
}

.logo {
    cursor: pointer;
    width: 300px;
    height: 80px;
    transition: all 0.3s ease 0s;
}

.logo:hover {
    opacity: 0.8
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 10px 20px;
}

.nav-links li a {
    color: #d8d8d8;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #00b2d1;
}

button {
    margin-top: 20px;
    margin-right: 15px;
    width: 150px;
    padding: 9px 25px;

    background-color: rgba(0, 114, 255, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
    transition: all 0.3s ease 0s;
    font-family: 'Arvo', serif;
    font-size: 15px;
}

button:hover {
    background-color: rgba(0, 114, 255, 0.8);
}

/* TEXT */

.meta-div {
    padding: 100px;
    padding-left: 70px;
}

.text {
    font-size: 30px;
    color: #dbdbdb;
    font-family: 'Arvo', serif;
}