.logo {
  font-size: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  color: hsl(var(--clr-primary-hue), 100%, 45%);
}

.logo-letter:nth-child(2n) {
  padding-top: 0.25rem;
}

.logo-letter:nth-child(2n + 1) {
  padding-bottom: 0.25rem;
}
