.navbar-wrapper {
  height: 5rem;
  width: 100%;
  padding: 0 2rem;
  background-color: #070707;
  display: flex;
  justify-content: space-between;
}

.logo-link {
  height: 100%;
  text-decoration: none;
}

.links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links > li {
  list-style: none;
}

.nav-links > li > a {
  height: 100%;
  color: #ddd;
  font-size: 1.25rem;
  padding: calc((4rem - 1.25rem) / 2) 1rem;
  transition: background-color 250ms ease-in-out;
  text-decoration: none;
}

.nav-links > li > a:hover {
  background-color: #ffffff05;
}

.contact {
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: #dddddd;
  background-color: hsl(var(--clr-secondary-hue), 100%, 40%);
  border-radius: 100vw;
  transition: all 250ms ease-in-out;
  font-size: 1.25rem;
}

.contact:hover {
  transform: scale(1.05);
  background-color: hsl(var(--clr-secondary-hue), 100%, 55%);
}
