.hero-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  height: calc(100vh - 5rem);
  background-size: cover;
}

.hero-banner > .welcome {
  color: hsl(var(--clr-secondary-hue), 100%, 75%);
  width: 17ch;
  text-align: center;
  font-size: 4rem;
}

.hero-banner > .welcome > span {
  color: hsl(var(--clr-primary-hue), 100%, 50%);
}

.hero-banner > .info {
  font-size: 1.5rem;
  width: 30ch;
  text-align: center;
  color: hsl(var(--clr-primary-hue), 10%, 65%);
}
